In [ ]:
places = ["London", "Japan", "New York", "Canada", "Greece"]
print(places)

sorted_places = sorted(places)
print(places)

reverse_sorted_places = sorted(places, reverse=True)

places.reverse()
print(places)

places.reverse()
print(places)

places.sort()
print(places)

places.sort(reverse=True)
print(places)

['London', 'Japan', 'New York', 'Canada', 'Greece']
['London', 'Japan', 'New York', 'Canada', 'Greece']
['Greece', 'Canada', 'New York', 'Japan', 'London']
['London', 'Japan', 'New York', 'Canada', 'Greece']
['Canada', 'Greece', 'Japan', 'London', 'New York']
['New York', 'London', 'Japan', 'Greece', 'Canada']